#wrapper {
	max-width: 	70%;
	margin: 0 auto;
	background-color: white;
	padding: 40px;
}
body {
	background-color: lavender;
}
h1 {
	color: pink;
	border-bottom-color: pink; 
	border-bottom-style: solid;
	border-bottom-width: 10px; 
}
h3	{
	text-align: center;
	color: gray;
	font-size: 14pt;
}
h2	{
	color: purple;
	border-bottom-color: purple; 
	border-bottom-style: solid;
	border-bottom-width: 2px; 
}
p {
	color: teal;
	font-weight: bold;
}
img {
	width: 200px;
	border: 3px solid pink;
}